[namespace] [package][namespaceStart]
[imports]
[classAnnotations]
public class [classNameMaj] [extends]{
    [fields]
[constructors]
[accessors]
    public String getLabel() [exception] {
        [labelMethod]   
    }
}
[namespaceEnd]