&&member&&
[importKey] [importStart] %toImport% [importEnd] [importFrom] "%importSource%"[endLine]
&&endMember&&

&&global&&
[importKey] "%importSource%"[endLine]
&&endGlobal&&

&&single&&
[importKey] %toImport% [importFrom] "%importSource%"[endLine]
&&endSingle&& 