<import>

[exportKey] const AppPages: PageInfo[] = [
&&pageInfo&&
  {
    path: "/[entityMin]",
    title: "[entityMaj]",
    component: <[entityMaj]Liste />,
    icon: archiveSharp
  }
&&endPageInfo&&
][endLine]
